.hero {
  text-align: center;
  padding: 160px;
  background-color: #f5f5f5;
}

.search-bar {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 500px;
  margin: 20px auto; /* Center the search bar */
}

.search-input {
  padding: 10px;
  font-size: 15px;
  border: 1px solid #ccc;
  border-radius: 20px; /* Rounded border radius for the entire search bar */
  width: 100%;
  box-sizing: border-box; /* Ensure padding and border are included in the width */
  padding-right: 40px; /* Add space for the search icon */
}

.search-icon {
  position: absolute;
  right: 10px;
  background: none;
  border: none;
  color: black;
  font-size: 28px; /* Increase the size of the icon */
  cursor: pointer;
  margin-top: 8px;
}

.search-icon:hover {
  color: #165158;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .hero {
    padding: 80px;
  }

  .search-bar {
    width: 100%;
    padding: 0 10px; /* Add padding to the sides */
  }

  .search-input {
    padding: 10px;
    font-size: 14px;
    border-radius: 15px; /* Slightly less rounded on smaller screens */
    padding-right: 35px; /* Adjust space for the search icon */
  }

  .search-icon {
    font-size: 24px; /* Adjust icon size */
  }
}

@media (max-width: 480px) {
  .hero {
    padding: 60px;
    font-size: 20px;
  }

  .search-bar {
    width: 100%;
    padding: 0 5px; /* Add padding to the sides */
  }

  .search-input {
    padding: 8px;
    font-size: 12px;
    border-radius: 10px; /* Less rounded on smaller screens */
    padding-right: 30px; /* Adjust space for the search icon */
  }

  .search-icon {
    font-size: 20px; /* Adjust icon size */
  }
}
