/* src/Jobmap.css */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  background-color: #272525;
  color: white;
  padding: 0 20px;
  position: relative;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  width: 250px;
  height: auto;
}

.nav-links {
  display: flex;
  list-style: none;
  align-items: center;
}

.nav-links li {
  margin-left: 30px;
}

.nav-link, .btn-link {
  color: #FFFFFF;
  text-decoration: none;
  font-weight: 500;
  font-size: large;
}

.hero {
  text-align: center;
  color: rgba(24, 23, 23, 0.74);
  margin-top: 45px;
  font-size: 25px;
}

.btn-link {
  border: 1px solid #fff;
  background-color: white;
  color: rgba(19, 18, 18, 0.603);
  padding: 0.5rem 1rem;
  border-radius: 20px;
  display: flex;
  align-items: center;
}

.link {
  display: flex;
  justify-content: center; /* Horizontally center */
  align-items: center;     /* Vertically center */
  text-decoration: none;
  color: white;
  margin-right: 10px;
}

.link:hover {
  color: rgb(54, 92, 54);
  transition: 0ms;
}

.icon {
  margin-right: 0.5rem;
}

.nav-link:hover, .btn-link:hover {
  color: #d5dadf;
}

.menu-icon {
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
  display: none;
}

.navbar .dropdown {
  position: relative;
  display: inline-block;
}

.navbar .dropdown-toggle {
  background: none;
  border: black;
  color: inherit;
  cursor: pointer;
  font-size: inherit;
}

.navbar .dropdown-menu {
  display: none;
  position: absolute;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1000;
  min-width: 160px;
  right: 0;
  list-style-type: none; /* Remove bullets */
  padding: 0;           /* Remove padding */
  margin: 0;            /* Remove margin */
}

.navbar .dropdown-menu .dropdown-link {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 12px;
}

.navbar .dropdown-menu .dropdown-link:hover {
  background-color: #ddd;
}

.navbar .dropdown-menu button {
  color: black;
  background: none;
  border: none;
  padding: 12px 16px;
  text-align: left;
  width: 100%;
  cursor: pointer;
}

.navbar .dropdown-menu button:hover {
  background-color: #ddd;
}

.navbar .dropdown:hover .dropdown-menu {
  display: block;
}

/* Mobile view */
@media (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .nav-links-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #272525;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 9;
  }

  .nav-links-mobile.open {
    transform: translateY(0);
  }

  .nav-links-mobile li {
    margin: 20px 0;
  }

  .menu-icon {
    display: block;
    color: wheat;
  }

  .close-menu {
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .close-icon {
    font-size: 1.5rem; /* Adjust the size of the close icon */
    cursor: pointer;
    color: wheat;
  }

  .mobile-logo {
    margin-top: -60px; /* Adjust as needed to position the logo correctly */
  }

  .mobile-logo .logo {
    width: 250px;
  }
}
